{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
  {% for hero in heroes_list %}
  <div class="flex-container">
  <a href="#"><figure class="snip1218">
    <div class="image"><img src="{{ hero.image_url|default_if_none:'#' }}" alt="sample70"/>
      <p>
        {{ hero.personality_traits }}{{ hero.image_url|default_if_none:'#' }}
      </p>
    </div>
    <figcaption>
      <h3>{{ hero.name }}</h3>
      <h5>{{ hero.heroes_class}} {{ hero.level }} уровня</h5>
    </figcaption>
  </figure></a>
  {% endfor %}

  <div class="add-character-container">
    <a>
      <img class="add-character-button" src="../media/add-image.jpg" alt="Создать нового персонажа"/>
      <p>Создать нового персонажа</p>
    </a>
  </div>
</div>
</div>

{% endblock %}
